<h1><%= AdminUser.model_name.human %>編集</h1>

<%= render "form", admin_user: @admin_user %>

<%= link_to "表示", [:admin, @admin_user], class: "btn btn-secondary" %>
<%= link_to "戻る", admin_admin_users_path, class: "btn btn-secondary" %>