<h1><%%= <%= singular_name.camelize %>.model_name.human %>新規作成</h1>

<%%= render 'form', <%= singular_name %>: @<%= singular_name %> %>

<%%= link_to '戻る', <%= index_helper %>_path, class: "btn btn-secondary" %>
