<header>
  <nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-start">
      <%= link_to "FurnitureCatalog", "#", class: "navbar-brand pb-0 mb-0" %>
    </div>
  </nav>
</header>