<header>
  <nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid d-flex justify-content-between">
      <%= link_to "FurnitureCatalog", "#", class: "navbar-brand pb-0 mb-0" %>
      <div class="navbar justify-content-end pt-3 pr-0">
        <%= link_to "ログアウト", destroy_admin_admin_user_session_path, method: :delete, class: "text-white" %>
      </div>
    </div>
  </nav>
</header>